{% extends 'base.html' %}
{% load static %}

{% block title %}

보은박스 - 나의 보은
{% endblock %}




{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/address.css' %}" />
{%endblock%}


{% block contents %}

<body>
    <hr id="top_line">
    <br>
    <br>
    <br>
    <div class="subs_wrap">

        {% include "side_nav.html" %}



        <div class="container">
            <div class="container_title">배송지 관리</div>
            <div class="container_txt">
                <div class="ad_txt">받으시는 분의 이름 : <input></div>
                <div class="ad_txt">받으시는 분의 성별 : <input></div>
                <div class="ad_txt">받으시는 분의 생년월일 : <input></div>
                <div class="ad_txt">받으시는 분과의 관계 : <input></div>
                <div class="ad_txt">받으시는 분의 연락처 : <input></div>
                <div class="ad_txt">받으시는 분의 주소 : <input></div>
                <input class="save_btn" type="submit" value="저장하기" />
            </div>
        </div>
    </div>

</body>

{% endblock %}