{% extends 'base.html' %}
{% load static %}

{% block title %}
보은박스 - 나의 보은
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/information.css' %}" />
{%endblock%}


{% block container %}

<body>
    <hr id="top_line">
    <br>
    <br>
    <br>
    <div class="subs_wrap">
        <div class="list_box_main">
            <div class="list_box_title">
                <p>나의 보은</p>
            </div>
            <div class="list_box"><a href="{% url 'myboeun' %}">내 구독내역</a></div>
            <div class="list_box"><a href="{% url 'mileage' %}">마일리지</a></div>
            <div class="list_box"><a href="{% url 'information' %}"><strong>회원정보 수정</strong></a></div>
            <div class="list_box"><a href="{% url 'address' %}">배송지 관리</a></div>
            <div class="list_box"><a href="{% url 'review' %}">리뷰 관리</a></div>
        </div>

        <div class="container">
            <div class="container_title">회원정보 수정</div>
            <div>


                <!-- 회원정보 수정 폼  -->
                <div class="containerP">
                    <h1> {{ people.username }}</h1>
                    {% if user == people %}
                    <div>
                        <a href="{% url 'update' %}">계정정보수정</a>
                    </div>
                    {% endif %}
                    <div class="row">
                        {% for post in people.post_set.all %}
                        <div class="col-4">
                            <img src="{{ post.image_set.first.file.url }}" class="img-fluid" />
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!--  -->



                <div>이름</div>
                <div>생년월일</div>
                <div>성별</div>
                <div>아이디(이메일 주소)</div>
                <div>비밀번호</div>
                <div>휴대전화 번호</div>
            </div>
            <div>
                <span>보은박스를 더이상 이용하지 않으신다면 <a id="a_withdrawal" href="{% url 'withdrawal' %}">회원 탈퇴하기 ▶</a></span>
            </div>
        </div>
    </div>

</body>

{% endblock %}