{% extends 'base.html' %}
{% load static %}

{% block title %}

보은박스 - 나의 보은
{% endblock %}




{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/review.css' %}" />
{%endblock%}


{% block contents %}

<body>
    <hr id="top_line">
    <br>
    <br>
    <br>
    <div class="subs_wrap">

        {% include "side_nav.html" %}

        <div class="container">
            <div class="container_title">리뷰 관리</div>
            <div class="container_txt">
                <div>아직 리뷰를 작성하지 않으셨습니다.</div>
            </div>
        </div>
    </div>

</body>

{% endblock %}