{% extends 'base.html' %}

{% load static %}

{% block title %}

보은박스 - 나의 보은
{% endblock %}




{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/update.css' %}" />
{%endblock%}









{% block contents %}

<body>
    <hr id="top_line">
    <br>
    <br>
    <br>

    <div class="subs_wrap">

        {% include "side_nav.html" %}
        <div class="container">
            <div class="container_title">회원정보 수정</div>
            <div class="container_txt">

                <form method="POST">
                    {% csrf_token %}
                    {% for i in user_change_form %}
                    {%if i.label == "사용자 이름" %}
                    <div class="update-row">
                        <label for="id_username">ID</label> : {{i}}
                    </div>

                    <!-- 성, 비밀번호 라벨 삭제 -->
                    {%elif i.label == "성" or i.label == "비밀번호" %}

                    {%else%}
                    <!-- 각 라벨 줄바꿈 -->
                    <div class="update-row">

                        {{i.label}} : {{i}}
                    </div>

                    {%endif%}
                    {% endfor %}
                    <input class="submit_btn" type="submit" value="수정하기" />
                </form>
            </div>
        </div>
    </div>

</body>


{% endblock %}