body {
    font-family: 'MapoFlowerIsland';
}

.startB_img {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.title {
    font-size: 1.3rem;
    text-align: center;
}

/* 선택형 정기배송의 장점 */

#advantage_bg {
    background-color: #E6E6E6;
    padding-top: 40px;
    padding-bottom: 50px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

#advantage_title {
    color: #102836;
    font-weight: bolder;
}

.advantage_box {
    box-sizing: content-box;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    border-bottom: 2px solid #8a97a0;
}

.advantage {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
    color: #102836
}

.advantage_txt {
    margin-left: 20px;
    font-size: 16px;
    color: #102836;
    font-weight: bolder;
}




/* 보은 시작하기 */

#step_bg {
    background-color: #EEEBDA;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

#see_detail {
    text-align: right;
    font-size: 14px;
}

#step_title {
    color:#102836;
}

.step_box {
    box-sizing: content-box;
    width: 65%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 1 10px 10px rgba(0, 0, 0, 0.070);
}

.step {
    font-size: 1.125rem;
    font-weight: bolder;
    color: #102836;
    margin-bottom: 5px;
}

.step_txt {
    font-size: 1rem;
    color:  #102836;
    font-weight: bolder;
}

.blank {
    display: block;
    margin: 1px 5;
}


/* 구독 기간 및 서비스 안내 */

#detail_bg {
    background-color:transparent;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.month_background {
    background: transparent;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 800px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.month_wrap {
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;  /* 상하정렬 */
    justify-content: center; /* 좌우정렬 */
    background-color: transparent;
    /* border: 1px solid blue; */
}


.month_box {
    box-sizing: content-box;
    border: 2px solid #B3B6B7;
    width: 15.63rem;
    height: 15.63rem;
    padding: 15px;
    margin: 5px;
}

.month_box_p12 {
    box-sizing: content-box;
    border: 2px solid #F7DC6F ;
    width: 15.63rem;
    height: 15.63rem;
    padding: 15px;
    margin: 5px;
}

.month {
    text-align: center;
    font-size: 1.2rem;
}

.price_box {
    text-align: center;
    margin-top: 5px;
}

.price {
    font-size: 1.6rem;
    font-weight: bolder;

}

.permonth {
    font-size: 0.9rem;
}

.price_detail {
    font-size: 0.9rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #B3B6B7;
}

.price_detail_box {
    text-align: center;
}

li {
    font-size: 1rem;
    padding-right: 15px;
}

.p_color {
    color: #F7DC6F;
}

#start_button {
    cursor: pointer;
    padding: .6rem 0;
    min-width: 200px;
    border: solid 1px #dabf55;
    background-color:#F7DC6F;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 1.25;
    text-align: center;
    color: rgb(78, 76, 76);

}


@media(max-width: 1500px) {
    #step_bg{
        width:1100px;
    }
    #advantage_bg{
        width:1100px;
    }


@media(max-width: 1080px) {
    .month_wrap{
        width: 400px;
    }
}


@media(max-width: 1024px) {
    #step_bg{
        width:800px;
    }
    #advantage_bg{
        width:800px;
    }
}


@media(max-width: 767px) {
    #step_bg{
        width:600px;
    }
    #advantage_bg{
        width:600px;
    }
    .month_wrap{
        width: 300px;
    }
}


