body {
    font-family: 'MapoFlowerIsland';
}

.startB_img {
    width: 60%;
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.title {
    font-size: 1.5rem;
    text-align: center;
}

/* 선택형 정기배송의 장점 */

#advantage_bg {
    background-color: #E6E6E6;
    padding-top: 40px;
    padding-bottom: 50px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#advantage_title {
    color: #102836;
}

.advantage_box {
    box-sizing: content-box;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    border-bottom: 2px solid #8a97a0;
}

.advantage {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 10px;
    color: #102836
}

.advantage_txt {
    font-size: 18px;
    color: #102836;
}




/* 보은 시작하기 */

#step_bg {
    background-color: #EEEBDA;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#see_detail {
    text-align: right;
    font-size: 11px;
}

#step_title {
    color:#102836;
}

.step_box {
    box-sizing: content-box;
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow:
    0 2.2px 2.2px rgba(0, 0, 0, 0.020),
    0 5.3px 5.3px rgba(0, 0, 0, 0.030),
    0 10px 10px rgba(0, 0, 0, 0.04),
    0 17.0px 17.9px rgba(0, 0, 0, 0.060),
    0 33.4px 33.4px rgba(0, 0, 0, 0.070),
    0 80px 80px rgba(0, 0, 0, 0.1)
  ;
}

.step {
    font-size: 1rem;
    font-weight: bolder;
    color: #102836;
    margin-bottom: 5px;
}

.step_txt {
    font-size: 12px;
    color:  #102836;
}

.blank {
    display: block;
    margin: 1px 5;
}


/* 구독 기간 및 서비스 안내 */

#detail_bg {
    background-color: #F8F9F9;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.month_background {
    background: #dddddd;
    width: 1000px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.month_wrap {
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;  /* 상하정렬 */
    justify-content: center; /* 좌우정렬 */
    background-color: transparent;
    /* border: 1px solid blue; */
}


.month_box {
    box-sizing: content-box;
    border: 2px solid #B3B6B7;
    width: 250px;
    height: 250px;
    padding: 15px;
    margin: 5px;
}

.month_box_p12 {
    box-sizing: content-box;
    border: 2px solid #F7DC6F ;
    width: 250px;
    height: 250px;
    padding: 15px;
    margin: 5px;
}

.month {
    text-align: center;
    font-size: 17px;
}

.price_box {
    text-align: center;
    margin-top: 5px;
}

.price {
    font-size: 25px;
    font-weight: bolder;

}

.permonth {
    font-size: 14px;
}

.price_detail {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #B3B6B7;
}

.price_detail_box {
    text-align: center;
}

li {
    font-size: 14px;
    padding-right: 15px;
}

.p_color {
    color: #F7DC6F;
}

#start_button {
    cursor: pointer;
    padding: .6rem 0;
    min-width: 200px;
    border: solid 1px #dabf55;
    background-color:#F7DC6F;
    font-size: 14px;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0;
    text-align: center;
    color: rgb(78, 76, 76);
    border-radius: 0;
}




@media(max-width: 750px) {
    #advantage_bg{
        width:600px;
    }
    .month_wrap{
        width: 300px;
    }
}

