html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'MapoFlowerIsland';
}

/* 공통 navbar */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

a{
  text-decoration: none;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  list-style: none;
  padding: 0 300px;
  transition: background-color 0.5s ease 0s;
}

.navbar-logo{
  font-size: 1.31rem;
  color: #b1b34d;
  font-weight: bold;
  padding: 12px;
}

.navbar-logo a{
  color: #b1b34d;
}

.navbar-container{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-right: 12px !important;
}

.navbar-container a{
  color: #102836;
  display: block;
}

.navbar-container li{
  padding-left: 30px;
  padding-right: 0;
  display: inline-block;
  font-size: 0.9375rem;
  font-weight: 600;
}

.navbar-container li a:hover{
  color: #e6e6e6;
}

.navbar-list {
  margin: 0;
  padding: 0;
}

.btn-sidebar{
  position: absolute;
  text-align: left;
  left: 12px;
  top: 12px;
  font-size: 1.2rem;
  color: #b1b34d;
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.modal-sidebar {
  display: none;
  visibility: hidden;
}

/* Navbar Scroll 효과적용 */
.navbar.black{
  background-color: #102836;
  color: #e6e6e6;
}

.navbar.black .navbar-container a {
  color: #e6e6e6;
}

.navbar.black .navbar-container a:hover {
  color: #b1b34d;
}

/* MediaQuery */
@media screen and (max-width: 1462px){
  .navbar {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 1062px){
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
  }

  .navbar-logo {
    padding: 12px;
  }

  .navbar-container{
    display: none;
  }

  .modal-sidebar {
    display: block;
    visibility: visible;
    width: 230px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    z-index: 1031;
    background: #102836;
    color: #fff;
    transition: all 0.3s;
  }

  .modal-sidebar a{
    color: #e6e6e6;
  }

  .modal-sidebar li{
    width: 100%;
    height: 2rem;
    display: inline-block;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0;
    padding-left: 0;
  }

  .modal-sidebar li a:hover{
    color: #b1b34d;
  }

  .modal-sidebar.active{
    left: 0;
    margin: 0;
  }

  .modal-list {
    margin-top: 3rem;
  }

  .btn-sidebar{
    display: block;
    z-index: 1032;
  }

  .btn-exit {
    outline: 0;
    border: 0;
    color: #e6e6e6;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    left: 12px;
    top: 14px;
  }

  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 998;
    display: none;  
  }

  /* 나의 보은 accordian menu */
  .myboeun_btn {
    background: none;
    color: #e6e6e6;
	  border: none;
	  padding: 0;
	  font: inherit;
	  cursor: pointer;
	  outline: none;
  }

  .myboeun_btn:hover {
    color: #b1b34d;
  }

  .submenu {
    display: none;
    color: #e6e6e6;
    padding-top: 0.7rem;
    font-size: 0.9rem;
    padding-left: 0;
    transition: all 0.5s ease-in-out; 
  }

  .submenu_li {
    padding: 0 !important; 
  }

  .fa-caret-up {
    display: none;
  }

  .fa-caret-down {
    display: inline-block;
  }
}

/* footer */
.footer {
  padding: 5rem 0;
  background-color: #102836;
  color: #e6e6e6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.copyright {
  display: inline-block;
  position: relative;
}

.terms {
  display: inline-block;
  position: relative;
}

.terms a {
  text-decoration: none;
  color: #e6e6e6
}

.terms-content {
  padding: 0 15px;
}


