body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header, footer{
  font-family: 'MapoFlowerIsland';
}

/* 공통 navbar */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

a{
  text-decoration: none;
  color: #e6e6e6;
}
.navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 8px 15rem;
}

.navbar.black{
  background-color: #e6e6e6;
  color: #102836;
}

.logo{
  font-size: 1.3rem;
  color: #b1b34d;
}

.logo a{
  color: #b1b34d;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.menu li{
  padding: 4px 15px;
  display: inline-block;
  font-size: 1rem;
}

.menu li a:hover{
  color: #b1b34d;
}

.menu-icon{
  position: absolute;
  text-align: right;
  right: 8px;
  font-size: 1.2rem;
  color: #e6e6e6;
  display: none;
  cursor: pointer;
}

@media screen and (max-width:768px){
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 10px;
  }

  .menu {
    flex-direction: column;
    align-items: left;
    width: 100%;
    display: none;
  }

  .menu li{
    width: 100%;
    text-align: left;
  }

  .menu-icon{
    display: block;
  }

  .menu.active{
    display: flex;
  }
}

/* footer */
.footer {
  padding: 5rem 0;
  background-color: #102836;
  color: #e6e6e6;
}