body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'MapoFlowerIsland';
}

/* 공통 navbar */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

a{
  text-decoration: none;
}
.navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  list-style: none;
  padding: 8px 15rem;
  transition: background-color 0.5s ease 0s;
}

.logo{
  font-size: 1.34rem;
  color: #b1b34d;
  font-weight: bold;
}

.logo a{
  color: #b1b34d;
}

.collapsed-content{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.collapsed-content a{
  color: #102836;
}

.collapsed-content li{
  padding: 4px 15px;
  display: inline-block;
  font-size: 1.03rem;
  font-weight: 600;
}

.collapsed-content li a:hover{
  color: #e6e6e6;
}

.btn-collapse{
  position: absolute;
  text-align: right;
  right: 8px;
  font-size: 1.2rem;
  color: #b1b34d;
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

/* Navbar Scroll 효과적용 */
.navbar.black{
  background-color: #102836;
  color: #e6e6e6;
}

.navbar.black .collapsed-content a {
  color: #e6e6e6;
}

.navbar.black .collapsed-content a:hover {
  color: #b1b34d;
}

/* MediaQuery */
@media screen and (max-width:768px){
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 10px;
  }

  .collapsed-content {
    flex-direction: column;
    align-items: left;
    width: 100%;
    display: none;
  }

  .collapsed-content a{
    color: #102836;
  }

  .collapsed-content li{
    width: 100%;
    text-align: left;
  }

  .btn-collapse{
    display: block;
  }

  .collapsed-content.active{
    display: block;
  }
}

/* footer */
.footer {
  padding: 5rem 0;
  background-color: #102836;
  color: #e6e6e6;
}