/* 공통 */
body{
    margin: 0;
    font-family: 'MapoFlowerIsland';
}

a{
    text-decoration: none;
}

.text-container{
    text-align: center;
    align-items: center;
}

.btn{
    display: inline-block;
    color: #E6E6E6;
    font-weight: 500;
    font-size: 1rem;
    outline: 0;
    border: 1px solid #e6e6e6;
    border-radius: 6px 6px;
    padding: 1rem 0.8rem;
    background-color: transparent;
    text-decoration: none;
    margin-top: 2rem;
}

.btn a{
    color: #E6E6E6;
    padding: 0.9rem 0.9rem;
}

.btn:hover {
    border: 0;
    background-color: #366869;
}

/* 섹션1 */
.top{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    border: 0;
    background: url("/static/image/hands.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.top-title{
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
    padding-top: 4.5rem;
    color: #102836;
    
}

.top-text{
    font-size: 1rem;
    font-weight: bold;
    color: #102836;
}

/* 섹션2 */
.middle{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    border: 0;
    background: url("/static/image/giftbox.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.middle-text {
    font-size: 1rem;
    font-weight: 600;
    color: #102836;
}

/* 섹션3 */
.bottom {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    border: 0;
    background: url("/static/image/seniors.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bottom-text {
    font-size: 1rem;
    font-weight: 600;
    color: #E6E6E6;
}