{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
보은박스 - 로그인
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock%}

{% block contents %}
<hr class="top-line">
<div class="wrap">
    <div class="container">
        <div class="content">
            <p class="text-title">로그인</p>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn-login" type="submit">로그인</button>
            </form>
            <button class="btn-kakao"><a href="{% provider_login_url 'kakao' method='oauth2' %}"><i class="fas fa-comment"></i> 카카오아이디로
                    로그인</a></button>
            <div class="go-signup"><a href="{% url 'signup' %}">회원가입</a></div>
        </div>
    </div>
</div>
{% endblock%}