{% extends 'base.html' %}
{% load static %}

{% block title %}
보은박스 - 회원가입
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block contents %}
<hr class="top-line">
<div class="wrap">
    <div class="container">
        <div class="content">
            <p class="text-title">회원가입</p>
            <form method="POST" class="form-signup">
                {% csrf_token %}
                {{userForm.as_p}}
                <button class="btn-signup" type="submit">회원가입</button>
            </form>
        </div>
    </div>
</div>

<script>
    var labels = document.querySelectorAll('label')
    for (var i = 0; i < labels.length; i++) {
        labels[i].innerText = labels[i].innerText.slice(0, -1)
    }
</script>
{% endblock %}