
#top_line {
    border-top: 1px solid rgb(210, 210, 210);
    margin-top:50px;
}

.subs_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
}


#mysubs_btn, #mileage_btn, #information_btn, #address_btn, #review_btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#withdrawal_btn {
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    color: #B1B34D;
    font-weight: bold;
}


#mysubs_container, #mileage_container, #information_container, #address_container, #review_container, #withdrawal_container {
    width:800px;
    height: 400px;
    
}

#mileage_container, #information_container, #address_container, #review_container {
    display: none;
}


/* #menuBtn:checked ~ .mysubs_container {
    display: block; */

.list_box_main {
    margin-right: 100px;
    margin-bottom: 50px; 
    width: 120px;  
    list-style: none; 
}

.list_box_title {
    border-bottom: 2px solid #000000;
    font-size: 1.2rem;
    font-weight: bolder;
}

.list_box {
    border-bottom: 1px solid rgb(210, 210, 210);
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}




.mysubs_container_title {
    font-weight: bolder;
    font-size: 1.5rem;
}

.container_txt {
    margin-top: 1rem;
}

#infor_button {
    display: block;
    float: left;
    cursor: pointer;
    padding: .6rem 0;
    min-width: 200px;
    border: solid 1px #274f50;
    background-color: #356869;
    font-size: 1rem;
    /* font-weight: bolder; */
    line-height: 1.25;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    
}

#start_button {
    display: block;
    float: left;
    cursor: pointer;
    padding: .6rem 0;
    min-width: 200px;
    border: solid 1px #dabf55;
    background-color:#F7DC6F;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 1.25;
    text-align: center;
    color: rgb(78, 76, 76);
}

.a_button {
    background-color: red;
    color: #fff;
    text-decoration: none;
    outline: none
}
a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#a_withdrawal {
    color: #B1B34D;
    font-weight: bold;
}

@media(max-width: 1500px) {
    #mysubs_container, #mileage_container, #information_container, #address_container, #review_container, #withdrawal_container {
        width: 650px;
    }
    
}


@media(max-width: 1024px) {
    #mysubs_container, #mileage_container, #information_container, #address_container, #review_container, #withdrawal_container {
        width: 500px;
    }
    
}

@media(max-width: 767px) {
    #mysubs_container, #mileage_container, #information_container, #address_container, #review_container, #withdrawal_container {
        width: 400px;
    }
}



/* #a_subs_button {
    background-color: rgb(68, 0, 255);
    color: #fff;
    text-decoration: none;
    outline: none
} */


/* .a_button:hover, .a_button:active {text-decoration: none; color:#fff; background-color:#f59000;} */
