{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
</head>
<body>
  <form method = "POST" action="{%url 'login'%}">
    <label class="id">
      <span>
        <img src="{% static 'image/login_icon.jpg' %}" alt="사진을 찾을수 없습니다"/>
      </span>
      <input type="text" name="" id="">    
    </label>
    
    <label class="id">
      <span>
        <img src="{% static 'image/login_pw_icon.jpg' %}" alt="사진을 찾을수 없습니다"/>
      </span>
      <input type="text" name="" id="">    
    </label>
    <a href="{%url 'signup' %}">회원가입</a>
  </form>
</body>
</html>