<!-- 공통 필수 -->
{% extends 'base.html' %}
{% load static %}

<!-- 타이틀 -->
{% block title %}
보은박스 - 메인
{% endblock %}

<!-- head 작성 시작 -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

<!-- body 작성 시작 -->
{% block contents %}
<header class="top">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0">보은박스</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">보은박스는 마음을 담습니다.</h2>
            <a class="btn btn-primary js-scroll-trigger" href="{% url 'product' %}">상자 채우기</a>
        </div>
    </div>
</header>
{% endblock %}