<!-- 공통 필수 -->
{% extends 'base.html' %}
{% load static %}

<!-- 타이틀 -->
{% block title %}
보은박스 - 메인
{% endblock %}

<!-- head 작성 시작 -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<!-- 눈누 웹폰트 '마포꽃섬' -->
<style>
    @font-face {
        font-family: 'MapoFlowerIsland';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>
{% endblock %}

<!-- body 작성 시작 -->
{% block contents %}
<!-- 자바스크립트 -->
<script src="{% static 'js/scripts.js' %}"></script>

<div class="wrap">
    <!-- 섹션1 -->
    <div class="top">
        <div class="text-container">
            <h1 class="mx-auto my-0">보은박스</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">보은박스는 마음을 담습니다.</h2>
            <button class="btn"><a href="{% url 'product' %}">상자 채우기</a></button>
        </div>
    </div>
    <!-- 섹션2 -->
    <div class="s1">
        <div class="text-container">
            <p>푸른 하늘보다 높고 푸른 바다보다 넓은 당신의 은혜</p>
            <p>어떻게 하면 일상 속에서 보답할 수 있을까?</p>
            <p>마음과 마음을 이어주기 위해서 보은박스가 탄생했습니다.</p>
            <button class="btn"><a href="{% url 'mission' %}">더 알아보기</a></button>
        </div>
    </div>
    <!-- 섹션3 -->
    <div class="s2">
        <div class="text-container">
            <p>보은박스 소개</p>
        </div>
    </div>
</div>
{% endblock %}