a {
    text-decoration: none;
}

#top_line {
    border-top: 1px solid #d2d2d2;
    margin-top: 49px;
}

.wrap {
    min-height: 100vh;
    width: 100%;
}

.faq {
    width: 100%;
    min-height: 100%;
    height: 100vh;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    top: 40%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}

.text-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.btn {
    border: 0;
    outline: 0;
    padding: 1rem 0.8rem;
    border-radius: 6px 6px;
    background-color: #366869;
    font-size: 1rem;
    font-weight: 800;
    color: #e6e6e6;
}

.btn a {
    color: #e6e6e6;
}

.faqtable {
    width: 300px;
    height: 200px;

}

.cell {
    border: 1px solid black;
    width: 100px;
}