a {
    text-decoration: none;
}

#top_line {
    border-top: 1px solid #d2d2d2;
    margin-top: 49px;
}

.wrap {
    min-height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.content {
    margin: auto;
    align-items: center;
    padding: 0 8px;
}

.text-title {
    font-size: 1.6rem;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: block;
}

/* table style */
table {
    border-collapse: collapse;
}

.table-board {
    display: block;
    margin-top: 1rem;
    width: 700px;
}

.qnatable {
    width: 100%;
    height: 70px;
}

.qna-head {
    color: #04172e;
    background-color: #f8e5ce;
    border: 0;
    height: 40px;
}

.qna-body {
    text-align: center;
    border-bottom: 1px solid #B4B4B4;
}

.qna-body a {
    color: black;
}

.btn {
    border: 0;
    outline: 0;
    padding: 1rem 0.8rem;
    border-radius: 6px 6px;
    background-color: #366869;
    font-size: 0.9rem;
    font-weight: 800;
    color: #e6e6e6;
    float: right;
    margin: 1rem 0;
    cursor: pointer;
}

.btn a {
    color: #e6e6e6;
}