<!-- 공통 필수 -->
{% extends 'base.html' %}
{% load static %}

<!-- 타이틀 -->
{% block title %}
보은박스 - FAQ
{% endblock %}

<!-- head 작성 시작 -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/cscenter.css' %}" />
{% endblock %}

{% block contents %}
<hr id="top_line">
<div class="wrap">
    <div class="content">
        <p class="text-title">자주 묻는 질문</p>
        <div class="accordion">
            <input type="checkbox" id="faq01">
            <label for="faq01">Q. 질문 1번</label>
            <div>
                <div class="text-answer">
                    <p>답변 1번 으아아아 길게 답변을 한번 해보자. 적어도 텍스트가 2줄은 나와야 이것이 답변 박스 안에서 어떻게 나올지 알 수 있겠지. 길게 적기 함 가즈아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ
                    </p>
                    <br></br>
                    <p>요렇게 하면 어떻게 되지요?</p>
                    <br></br>
                    <p>굿굿</p>
                </div>
            </div>
            <input type="checkbox" id="faq02">
            <label for="faq02">Q. 질문 2번</label>
            <div>
                <div class="text-answer">
                    <p>답변 2번 으아아아 길게 답변을 한번 해보자. 적어도 텍스트가 2줄은 나와야 이것이 답변 박스 안에서 어떻게 나올지 알 수 있겠지. 길게 적기 함 가즈아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ
                    </p>
                </div>
            </div>
            <input type="checkbox" id="faq03">
            <label for="faq03">Q. 질문 3번</label>
            <div>
                <div class="text-answer">
                    <p>답변 3번 으아아아 길게 답변을 한번 해보자. 적어도 텍스트가 2줄은 나와야 이것이 답변 박스 안에서 어떻게 나올지 알 수 있겠지. 길게 적기 함 가즈아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ
                    </p>
                </div>
            </div>
            <input type="checkbox" id="faq04">
            <label for="faq04">Q. 질문 4번</label>
            <div>
                <div class="text-answer">
                    <p>답변 4번 으아아아 길게 답변을 한번 해보자. 적어도 텍스트가 2줄은 나와야 이것이 답변 박스 안에서 어떻게 나올지 알 수 있겠지. 길게 적기 함 가즈아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ
                    </p>
                </div>
            </div>
            <input type="checkbox" id="faq05">
            <label for="faq05">Q. 질문 5번</label>
            <div>
                <div class="text-answer">
                    <p>답변 5번 으아아아 길게 답변을 한번 해보자. 적어도 텍스트가 2줄은 나와야 이것이 답변 박스 안에서 어떻게 나올지 알 수 있겠지. 길게 적기 함 가즈아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ
                    </p>
                </div>
            </div>
            <input type="checkbox" id="faq06">
            <label for="faq06">Q. 질문 6번</label>
            <div>
                <div class="text-answer">
                    <p>답변 6번 으아아아 길게 답변을 한번 해보자. 적어도 텍스트가 2줄은 나와야 이것이 답변 박스 안에서 어떻게 나올지 알 수 있겠지. 길게 적기 함 가즈아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ
                    </p>
                </div>
            </div>
            <input type="checkbox" id="faq07">
            <label for="faq07">Q. 질문 7번</label>
            <div>
                <div class="text-answer">
                    <p>답변 7번 으아아아 길게 답변을 한번 해보자. 적어도 텍스트가 2줄은 나와야 이것이 답변 박스 안에서 어떻게 나올지 알 수 있겠지. 길게 적기 함 가즈아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ
                    </p>
                </div>
            </div>
            <input type="checkbox" id="faq08">
            <label for="faq08">Q. 질문 8번</label>
            <div>
                <div class="text-answer">
                    <p>답변 8번 으아아아 길게 답변을 한번 해보자. 적어도 텍스트가 2줄은 나와야 이것이 답변 박스 안에서 어떻게 나올지 알 수 있겠지. 길게 적기 함 가즈아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ
                    </p>
                </div>
            </div>
            <input type="checkbox" id="faq09">
            <label for="faq09">Q. 질문 9번</label>
            <div>
                <div class="text-answer">
                    <p>답변 9번 으아아아 길게 답변을 한번 해보자. 적어도 텍스트가 2줄은 나와야 이것이 답변 박스 안에서 어떻게 나올지 알 수 있겠지. 길게 적기 함 가즈아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ
                    </p>
                </div>
            </div>
            <input type="checkbox" id="faq10">
            <label for="faq10">Q. 질문 10번</label>
            <div>
                <div class="text-answer">
                    <p>답변 10번 으아아아 길게 답변을 한번 해보자. 적어도 텍스트가 2줄은 나와야 이것이 답변 박스 안에서 어떻게 나올지 알 수 있겠지. 길게 적기 함
                        가즈아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ
                    </p>
                </div>
            </div>
        </div>
        <div class="to-enquiry">
            <p class="text-enquiry"><i class="fas fa-caret-right"></i> 찾으시는 사항이 없나요?</p>
            <button class="btn"><a href="{% url 'cscenterapp:enquiry' %}">1:1문의하기</a></button>
        </div>
    </div>
</div>
{% endblock %}