{% extends 'base.html' %}
{% load static %}

{% block title %}
보은박스 - 1:1문의 내용
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %}

{% block contents %}
<hr id="top_line">
<div class="wrap">
    <div class="container">
        <p class="text-title">1:1문의 내용</p>
        <div class="qna">
            <p class="qna-title">{{one_QNA.title}}</p>
            {% autoescape off %}
            <p class="qna-content">{{one_QNA.desc}}</p>
            {% endautoescape %}
            <a href="{% url 'cscenterapp:update' one_QNA.id %}"><button class="qna-btn">내용수정</button></a>
            <a href="{% url 'cscenterapp:delete' one_QNA.id %}"><button class="qna-btn">문의삭제</button></a>
        </div>
    </div>
</div>

{%endblock%}