<!-- 공통 필수 -->
{% extends 'base.html' %}
{% load static %}

<!-- 타이틀 -->
{% block title %}
보은박스 - 1:1문의
{% endblock %}

<!-- head 작성 시작 -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/enquiry.css' %}" />
{% endblock %}

{% block contents %}
<hr id="top_line">
<div class="wrap">
    <div class="content">
        <p class="text-title">1:1 문의하기</p>
        <div class="table-board">
            <table class="qnatable">
                <thead>
                    <tr class="qna-head">
                        <th scope="col">#</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성일</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in all_QNA %}
                    <tr class="qna-body">
                        <th scope="row">{{ i.id }}</th>
                        <td class="line"><a href="{% url 'cscenterapp:detail' i.id %}">
                                <p>{{i.title}}</p>
                            </a></td>
                        <td class="line">{{ i.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="btn"><a href="{% url 'cscenterapp:create' %}">글쓰기</a></button>
    </div>
</div>
{% endblock %}